@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

/* COMMON CSS AREA START */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background: var(--secbody);
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    vertical-align: middle;
}

/*------color------*/
:root {
    --white: #f3f3f3;
    --skyblue: #1abb9c;
    --blue: #3f8dbf;
    --sky: #9d9abf;
    --red: #d2514b;
    --lightblue: #66a3c6;
    --yellow: #e8c04f;
    --lightgray: #a8a8a8;
    --black: #1e1e1e;
    /*--font-color--*/
    --bgnav: #e5e5e5;
    --logo: #1e1e1e;
    --menu: #8e8e8e;
    --banner: #2b343d;
    --secbody:#f7f7f7;
    --heading: #4e4e4e;
    --desc: #747474;
}

/* COMMON CSS AREA END */

/*----nav area----*/
header {
    background: var(--bgnav);
}

.navbar-brand {
    color: var(--heading);
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}

.nav-link {
    color: var(--menu);
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}

.nav-link:hover {
    color: var(--skyblue);
}

/*---banner area---*/
.banner-area {
    background: url("../img/banner-img.png");
    background-size: cover;
    height: 695px;
}

.banner-details h2 {
    color: var(--white);
    font-size: 40px;
    margin-bottom: 40px;
}

.banner-details h4 {
    color: var(--lightgray);
    font-size: 32px;
    margin-bottom: 50px;
}

.banner-btn button {
    background: var(--lightblue);
   width: 180px;
    height: 60px;
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
    border-radius: 5px;
}

.banner-btn button:hover {
    box-shadow: 0 5px 0 var(--blue);
    border: none;
}
/*---service area---*/
.service-details{
    margin: 60px 0;
}
.service-icon{
    background: var(--sky);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-bottom: 30px;
}
.service-icon2{
    background: var(--red);
}
.service-icon3{
    background: var(--lightblue);
}
.service-icon4{
    background: var(--yellow);
}
.service-desc h4{
    color: var(--heading);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.service-desc p{
    color: var(--desc);
    font-size: 18px;
    line-height: 30px;
}

hr{
    background: var(--lightgray);
    padding: 2px 0;
}

/*---work area--*/
.work-area{
    padding: 60px 0;
}
.work-heading h4{
    font-size: 18px;
    font-weight: bold;
    color: var(--heading);
    margin-bottom: 25px;
}
.card-body{
    padding: 25px 0;
}
.card-body h4{
    color: var(--heading);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}
.card-body h6{
    color: var(--lightgray);
    font-size: 14px;
    margin-bottom: 25px;
}
.card-body p{
    color: var(--desc);
    font-size: 17px;
}
.faq-area{
    background: var(--lightgray);
    padding: 50px 0;
}
.testimonial-icon{
    margin-bottom: 30px;
}
.testimonial-icon img{
    width: 50px;
    opacity: 0.3;
}
.testimonial-desc p{
    color: var(--desc);
    font-size: 30px;
    opacity: 0.8;
}
/*--footer area---*/
.footer-area{
    background: var(--black);
    color: var(--bgnav);
    padding: 50px 0;
}
.footer-icon{
    margin-bottom: 15px;
}
.footer-icon img,
.footer-desc img{
    width: 15px;
    height: 17px;
    margin-right: 20px;
}
.footer-heading h4{
    color: var(--desc);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
}
.footer-desc p{
    color: var(--lightgray);
    margin-bottom: 30px;
    font-size: 19px;
    margin-top: -5px;
}
.footer-icon p{
    color: var(--lightgray);
    font-size: 18px;
    margin-top: -5px;
}
.last-footer{
    padding: 40px 0;
}
.last-footer p{
    color: var(--lightgray);
    font-size: 18px;
}